* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.results-summary-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.results-summary-card {
  width: 600px;
  max-width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  text-align: center;
}

.results-score-section {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.results-score {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-value {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.score-max {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.score-description {
  font-size: 12px;
  font-weight: 500;
}

.results-summary-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.summary-heading {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  color: hsl(224, 30%, 27%);
  margin-bottom: 1rem;
}

.category-results {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.category-score-row {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.category-name {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.category-icons {
  width: 20px;
  height: 20px;
}

.category-score-value {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.light-red {
  color: hsl(0, 100%, 67%);
}

.light-red-transparent {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.orangey-yellow {
  color: hsl(39, 100%, 56%);
}

.orangey-yellow-transparent {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.green-teal {
  color: hsl(166, 100%, 37%);
}

.green-teal-transparent {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.cobalt-blue {
  color: hsl(234, 85%, 45%);
}

.cobalt-blue-transparent {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.continue-button {
  border-radius: 2rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 0.8rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .results-summary-card {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
